.footer{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
  .copyright {
    grid-column-start: 1;
    grid-row-start: 2;  
  }
  .social-nav {
    grid-column-start: 3;
    grid-row-start: 1;
    justify-self: end;
  }
  .social-nav a{
    color:black;
    text-decoration: none;
    display:inline-block;
    font-size: 22px;
    padding:6px;
  }
  .social-nav a:hover {
    color:#87423c;
  }